<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "shared/errors" unless flash.empty?%>
  <p>
    <%= current_user.nil? ? "" : link_to("logout here", session_url(current_user.id), html_options = {:method => :delete}) %>
    <%= current_user.nil? ? link_to("login here", new_session_url)  : current_user.user_name %>
  </p>

<%= yield %>

</body>
</html>
